<div class="file-field input-field">
  <div class="btn">
    <span>File</span>
    <input type="file" (change)="readSingleFile($event)">
  </div>
  <div class="file-path-wrapper">
    <input class="file-path validate" type="text">
  </div>
</div>

<div class="">Readed data = {{text}}</div>
<button (click)="jvf()">validate</button>
<div class="">validate = {{validateRes}}</div>
<div class="">validate Error= {{validateErrorText}}</div>


<!--<kendo-grid [data]="gridData" [selectable]="true" style="height:50px">-->
<!--<kendo-grid-column field="ProductID" title="ID" width="40">-->
<!--</kendo-grid-column>-->
<!--<kendo-grid-column field="ProductName" title="Name" width="250">-->
<!--</kendo-grid-column>-->
<!--<kendo-grid-column field="Category.CategoryName" title="Category">-->
<!--</kendo-grid-column>-->
<!--<kendo-grid-column field="UnitPrice" title="Price" width="80">-->
<!--</kendo-grid-column>-->
<!--<kendo-grid-column field="UnitsInStock" title="In stock" width="80">-->
<!--</kendo-grid-column>-->
<!--<kendo-grid-column field="Discontinued" title="Discontinued" width="120">-->
<!--<ng-template kendoGridCellTemplate let-dataItem>-->
<!--<input type="checkbox" [checked]="dataItem.Discontinued"/>-->
<!--</ng-template>-->
<!--</kendo-grid-column>-->
<!--<ng-template kendoGridDetailTemplate let-dataItem>-->
<!--<section *ngIf="dataItem.Category">-->
<!--<p><strong>In Stock:</strong> {{dataItem.UnitsInStock}} units</p>-->
<!--<p><strong>On Order:</strong> {{dataItem.UnitsOnOrder}} units</p>-->
<!--<p><strong>Reorder Level:</strong> {{dataItem.ReorderLevel}} units</p>-->
<!--<p><strong>Discontinued:</strong> {{dataItem.Discontinued}}</p>-->
<!--<p><strong>Category:</strong> {{dataItem.Category?.CategoryName}} - {{dataItem.Category?.Description}}</p>-->
<!--</section>-->
<!--</ng-template>-->
<!--</kendo-grid>-->

<kendo-grid [data]="gridData"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="name" title="Phase" width="80" [filterable]="false">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>{{dataItem.name}} ({{phaseTypeValue[dataItem.phase.phsNo]}})</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="revision" title="Revision" width="80" filter="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="auditType" title="Audit Type" width="80">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>{{dataItem.auditType.length ? dataItem.auditType : ''}}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ecnId" title="ECN" width="80" filter="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="processStatus.value" title="Process Status" width="80">
    <!--<ng-template kendoGridFilterCellTemplate let-filter let-column="column">-->
      <!--<kendo-grid-string-filter-cell [column]="column" [filter]="filter">-->
      <!--</kendo-grid-string-filter-cell>-->
    <!--</ng-template>-->
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>{{dataItem.processStatus ? processStatusValue[dataItem.processStatus.value] : ''}}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="dateTimeCreated" title="Date/Time Created" width="80" filter="text">
  </kendo-grid-column>
  <ng-template kendoGridDetailTemplate let-dataItem>
    <section *ngIf="dataItem">
      <p>{{dataItem.auditLog}}</p>
    </section>
  </ng-template>
</kendo-grid>
